[submodule "mini-yaml"]
	path = mini-yaml
	url = git@github.com:UnsafePointer/mini-yaml.git
[submodule "imgui"]
	path = imgui
	url = git@github.com:UnsafePointer/imgui.git
[submodule "Gb_Snd_Emu"]
	path = Gb_Snd_Emu
	url = git@github.com:UnsafePointer/Gb_Snd_Emu.git
